<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dunwugudao.replay.mapper.ck.BoardDailyMapper">

    <select id="selectByTradeDate" resultType="com.dunwugudao.replay.entity.ck.raw.BoardDaily">
        SELECT trade_date, board_code, board_name, board_type, pct_chg, amount,
               up_count, down_count, limit_up_count, main_net, leading_code, leading_name
        FROM board_daily
        WHERE trade_date = #{tradeDate}
    </select>

    <select id="selectByBoardCodesAndDate" resultType="com.dunwugudao.replay.entity.ck.raw.BoardDaily">
        SELECT trade_date, board_code, board_name, board_type, pct_chg, amount,
               up_count, down_count, limit_up_count, main_net, leading_code, leading_name
        FROM board_daily
        WHERE trade_date = #{tradeDate}
          AND board_code IN
          <foreach collection="boardCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
    </select>

</mapper>
